@model PartsUnlimited.Models.Order

@{
    ViewBag.Title = "Checkout Complete";
}
<section id="complete-page">
<h2>Checkout Complete</h2>

<div class="row">
<div class="col-sm-12">
<p>Thanks for your order!</p>
<p>Your order number is: @Model.OrderId</p>
<p>Order Date: @Model.OrderDate.ToShortDateString()</p>
<p>
    You can @Html.ActionLink("view your order", "Details", "Orders", new{ id = @Model.OrderId}, new{ @class="action-link"}) from your account page.
</p>
<br/>
<p>
	@Html.ActionLink("Keep Shopping", "Index", "Home", null, new{ @class="btn"})
</p>

</div>
</div>
</section>
