@page
@model RunTheGameModel

@{
    ViewData["Title"] = "RunTheGame";
}
<div class="row">
        <div class="col-md-6">
<h2>Bot Results</h2>

<ol>
    @foreach(var botRank in Model.BotRankings.OrderByDescending(x => x.Wins))
    {
        <li>@botRank.Competitor.Name: @botRank.Wins-@botRank.Losses-@botRank.Ties</li>
    }
</ol>

<form method="post" asp-page="RunTheGame">
    <input type="submit" value="Run The Game Again"/>
</form>

<h3>Full Game Results</h3>

@foreach (var fullResults in Model.AllFullResults)
{
    <div>
        <h4>Results for @fullResults.Competitor.Name (@fullResults.Competitor.Id)</h4>
            @foreach (var matchResult in fullResults.MatchResults)
            {
                <ul>
                    <li>Player 1: @(matchResult.Player1.Name)</li>
                    <li>Player 2: @matchResult.Player2.Name</li>
                    <li>Result: @matchResult.WinningPlayer</li>
                </ul>

                @*<ul>
                @foreach (var roundResult in matchResult.RoundResults)
                 {
                     <li>@roundResult.Player1Played - @roundResult.Player2Played = @roundResult.Winner?.Name</li>
                 }
                </ul>*@
            }
    </div>
}
</div>
        <div class="col-md-6">
        <table  class="table">
<thead>
<th>
    Last Played
</th>
<th>1st Place</th>
<th>2nd Place</th>
<th>3rd Place</th>
</thead>
<tbody></tbody>
@foreach (var game in Model.GamesForTable)
{
<tr>
<td>
    @game.GameDate
</td>
<td>
    @game.BotRecords.OrderByDescending(b=>b.Wins).First().Competitor.Name
</td>
<td>
    @game.BotRecords.OrderByDescending(b=>b.Wins).Skip(1).First().Competitor.Name
</td><td>
    @game.BotRecords.OrderByDescending(b=>b.Wins).Skip(2).First().Competitor.Name
</td>
</tr>
}
        </table>
</div>
</div>