@model ContosoTravel.Web.Application.Models.HotelModelWithPrice
@{
    var duration = TimeSpan.FromDays(Model.NumberOfDays);
    bool showPurchase = !bool.TrueString.Equals(ViewData["HidePurchase"]?.ToString() ?? "", StringComparison.OrdinalIgnoreCase);
    bool selected = string.Equals(Model.Hotel.Id.ToString(), ViewData["SelectedHotelId"]?.ToString());
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title float-left">
            @Model.Hotel.RoomType - Total Cost: @string.Format("{0:c}", Model.Hotel.Cost * duration.TotalDays) (@string.Format("{0:c}", Model.Hotel.Cost)/Day)
        </h5>
    @if (showPurchase)
    {
        <label class="btn btn-primary input-group-btn float-right">
            <input type="radio" id="SelectedHotel" name="SelectedHotel" value="@Model.Hotel.Id" @if (selected) {
                @:checked="checked"
             }>Purchase
        </label>
    }
    </div>
    <div class="card-body">
        <h5 class="card-title">Hotel Location: @Model.Hotel.LocationAirport.AirportName (@Model.Hotel.LocationAirport.AirportCode)</h5>
        <h5 class="card-title">Total Duration: @Model.NumberOfDays nights</h5>
    </div>
</div>