@using PartsUnlimited.Models
@using PartsUnlimited.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Parts Unlimited</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/signalr")*@
    @*<script src="/signalr/hubs"></script>*@
    @Scripts.Render("~/bundles/site")

    <!-- AppInsights -->
    <!--
    <script type="text/javascript">
  var appInsights=window.appInsights||function(config){
    function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
    }({
        instrumentationKey:"@System.Web.Configuration.WebConfigurationManager.AppSettings.Get("Keys:ApplicationInsights:InstrumentationKey")"
    });

    window.appInsights=appInsights;
    appInsights.trackPageView();
    </script>
        -->
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="primary-menu">
                    <div class="pull-left logo">
                        <a class="block logo-image" href="@Url.Action("Index", "Home", new { Area = string.Empty })">
                            <img src="/Images/unlimited_logo.png" alt="Parts Unlimited logo" />
                        </a>
                        <a class="block" href="@Url.Action("Index", "Home", new { Area = string.Empty })">
                            <h1>Parts Unlimited</h1>
                            <h2>a Fabrikam subsidiary</h2>
                        </a>

                        <div class="visible-xs cart">
                            <a href="@Url.Action("Index", "ShoppingCart", new { Area = string.Empty })" class="head-link" id="shopping-cart-link"></a>
                        </div>
                    </div>
                    <div class="pull-right navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-header-nav">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="collapse-header-nav">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="hidden-xs">
                                    <div id="search-link-box">
                                        @using (Html.BeginForm("Index", "Search", new { Area = string.Empty }, FormMethod.Get))
                                        {
                                            @Html.TextBox("q", null, new { @class = "form-control", id = "search-box", placeholder = "Keyword" })
                                            <input type="submit" id="search-link" value="Search" />
                                        }
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Index", "Home", new { Area = string.Empty })" class="head-link" id="home-link">Home</a></li>
                                @Html.Partial("_CartSummary", (IEnumerable<string>)ViewBag.CartSummary)
                                @Html.Partial("_AdminMenu")
                                @Html.Partial("_Login")
                                <li class="dropdown visible-xs">
                                    <a href="@Url.Action("Index", "Store", new { Area = string.Empty })" class="dropdown-toggle head-link" data-toggle="dropdown">Categories&nbsp;<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        @Html.Partial("_CategoryMenu", (IEnumerable<Category>)ViewBag.Categories)
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-menu">
                <div class="container">
                    <div class="hidden-xs">
                        <ul>
                            @Html.Partial("_CategoryMenu", (IEnumerable<Category>)ViewBag.Categories)
                        </ul>
                    </div>
                </div>
            </div>
            @Html.Partial("_Announcement", (Product)ViewBag.Product)
        </nav>
        <div class="visible-xs search-box">
            @using (Html.BeginForm("Index", "Search", new { Area = string.Empty }, FormMethod.Get))
            {
                @Html.TextBox("q", null, new { @class = "form-control", placeholder = "Search" })
                <input type="submit" value="" />
            }
        </div>
    </header>

    @RenderSection("prebody", false)
    <div class="container">
        @RenderBody()
    </div>
    <div class="clearfix"></div>

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Site Menu</h4>
                        <ul>
                            <li><a href="@Url.Action("Index", "Home", new { Area = string.Empty }, null)">Home</a></li>
                            <li><a href="@Url.Action("Index", "Store", new { Area = string.Empty }, null)">Browse</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Account</h4>
                        <ul>
                            <li>@Html.ActionLink("Manage Account", "Index", "Manage", new { Area = string.Empty }, htmlAttributes: new { title = "Manage" })</li>
                            <li>@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart", new { Area = string.Empty }, null)</li>
                            <li>@Html.ActionLink("View Orders", "Index", "Orders", new { Area = string.Empty }, null)</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Additional Info</h4>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Develop</h4>
                        <ul>
                            <li><a>GitHub Source</a></li>
                            <li><a>License Agreement</a></li>
                            <li><a href="http://asp.net/" target="_blank">ASP.NET</a></li>
                        </ul>
                        <p>Deploy to Azure</p>
                        <a class="deploy-azure">
                            @Html.Image("deploy_button.png", "deploy to azure image")
                        </a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left-sm">
                            © @DateTime.UtcNow.Year Microsoft. Based on The Phoenix Project by <a href="http://www.realgenekim.me/" class="footer-link">Gene Kim</a>.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-left-sm pull-right-md">
                            All rights reserved. Your payments are safe and secure.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/respond")
    @RenderSection("scripts", required: false)
</body>
</html>