@model ContosoTravel.Web.Application.Models.FlightModel
@{
    bool showPurchase = !bool.TrueString.Equals(ViewData["HidePurchase"]?.ToString() ?? "", StringComparison.OrdinalIgnoreCase);
    bool selected = string.Equals(Model.Id.ToString(), ViewData["SelectedFlightId"]?.ToString());
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title float-left">
            Departing @Model.DepartureTime.ToLocalTime().DateTime (Duration: @Model.Duration.Hours Hrs @Model.Duration.Minutes Mins) - Total Cost: @string.Format("{0:c}", Model.Cost)
        </h5>
    @if (showPurchase)
    {
        <label class="btn btn-primary input-group-btn float-right">
            <input type="radio" id="@ViewData["SelectedFlightName"]" name="@ViewData["SelectedFlightName"]" value="@Model.Id" @if (selected) {
                @:checked="checked"
             }>Purchase
        </label>
    }
    </div>
    <div class="card-body">
        <h5 class="card-title">Departing: @Model.DepartingFromAiport.AirportName (@Model.DepartingFrom) - @Model.DepartureTime.ToLocalTime().DateTime @Model.DepartingFromAiport.TimeZone</h5>
        <h5 class="card-title">Arriving: @Model.ArrivingAtAiport.AirportName (@Model.ArrivingAt) - @Model.ArrivalTime.ToLocalTime().DateTime @Model.ArrivingAtAiport.TimeZone</h5>
    </div>
</div>