<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - @ContosoTravel.Web.Application.Models.SiteModel.SiteTitle</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @Html.Raw(AspNetCoreJavaScriptSnippet.FullScript)
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Contoso Travel">
                Contoso Travel
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a asp-area="" asp-controller="Flights" asp-action="Index" class="nav-link">Flights</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Hotels" asp-action="Index" class="nav-link">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Cars" asp-action="Index" class="nav-link">Cars</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - @ContosoTravel.Web.Application.Models.SiteModel.SiteTitle</p>
            </footer>
        </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
