@model ContosoTravel.Web.Application.Models.SearchModel
@{
    ViewData["Title"] = $"Search {Model.SearchMode.ToString()}";
}

<h4>Search For @Model.SearchMode.ToString()</h4>
<hr />
<div class="form-row align-items-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

@using (Html.BeginForm("Search", Model.SearchMode.ToString(), FormMethod.Post, new { @class = "form-inline" }))
{
    <input asp-for="StartLocation" name="StartLocation" class="form-control col-sm-2" placeholder="@Model.StartLocationLabel" list="airPorts" />
    if (Model.IncludeEndLocation)
    {
        <input asp-for="EndLocation" name="EndLocation" class="form-control col-sm-2" placeholder="@Model.EndLocationLabel" list="airPorts" />
    }
    <datalist id="airPorts">
        @foreach (var airport in Model.AirPorts.OrderBy(air => air.AirportName))
        {
            <option value="@airport.AirportCode">@airport.AirportName</option>
        }
    </datalist>
    <div class='input-group date md-3' id='StartDate'>
        <input type='@(Model.SearchMode == ContosoTravel.Web.Application.Models.SearchMode.Hotels ? "date" : "datetime-local")' class="form-control" placeholder="@Model.StartDateLabel" name="StartDate" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

    <div class='input-group date md-3' id='EndDate'>
        <input type='@(Model.SearchMode == ContosoTravel.Web.Application.Models.SearchMode.Hotels ? "date" : "datetime-local")' class="form-control" placeholder="@Model.EndDateLabel" name="EndDate" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

    <input type="submit" value="Find @Model.SearchMode.ToString()" class="btn btn-primary" />
}

@section Scripts {
    @{Html.RenderPartial("_ValidationScriptsPartial");}
}

