@model ContosoTravel.Web.Application.Models.TestSettings

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>TestSettings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="DepartFrom" class="control-label"></label>
                <input name="DepartFrom" id="DepartFrom" class="form-control" value="@Model.DepartFrom" />
            </div>
            <div class="form-group">
                <label for="DepartOn" class="control-label"></label>
                <input name="DepartOn" id="DepartOn" class="form-control" value="@Model.DepartOn.ToString("yyyy-MM-ddTHH:mm")" />
            </div>
            <div class="form-group">
                <label for="ArriveAt" class="control-label"></label>
                <input name="ArriveAt" id="ArriveAt" class="form-control" value="@Model.ArriveAt" />
            </div>
            <div class="form-group">
                <label for="ReturnOn" class="control-label"></label>
                <input name="ReturnOn" id="ReturnOn" class="form-control" value="@Model.ReturnOn.ToString("yyyy-MM-ddTHH:mm")" />
            </div>
            <div class="form-group">
                <label for="PurchasedOn" class="control-label"></label>
                <input name="PurchasedOn" id="PurchasedOn" class="form-control" value="@Model.PurchasedOn.ToString("yyyy-MM-ddTHH:mm")" />
            </div>
        </form>
    </div>
</div>


