@model ContosoTravel.Web.Application.Models.CarModelWithPrice
@{ 
    var duration = TimeSpan.FromDays(Model.NumberOfDays);
    bool showPurchase = !bool.TrueString.Equals(ViewData["HidePurchase"]?.ToString() ?? "", StringComparison.OrdinalIgnoreCase);
    bool selected = string.Equals(Model.Car.Id.ToString(), ViewData["SelectedCarId"]?.ToString());
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title float-left">
            @Model.Car.CarType - Total Cost: @string.Format("{0:c}", Model.Car.Cost * duration.TotalDays) (@string.Format("{0:c}", Model.Car.Cost)/Day)
        </h5>
    @if (showPurchase)
    {
        <label class="btn btn-primary input-group-btn float-right">
            <input type="radio" id="SelectedCar" name="SelectedCar" value="@Model.Car.Id" @if (selected) {
                @:checked="checked"
             }>Purchase
        </label>
    }
    </div>
    <div class="card-body">
        <h5 class="card-title">Pick-Up and Drop-Off Location: @Model.Car.LocationAirport.AirportName (@Model.Car.LocationAirport.AirportCode)</h5>
        <h5 class="card-title">Total Duration: @duration.Days days @duration.Hours hrs</h5>
    </div>
</div>